{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2>Kontakt</h2>
                <p class="fs-5">
                    Kontakt jederzeit über unsere WhatsApp-Gruppe<br/>
                    Mail: <a href="mailto: Silvio.Habel@gmail.com?subject=Finder-Archäologie">Silvio</a><br />
                </p>
            </div>
        </div>
    </div>
{% endblock %}
