{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <p>
                    Herzlich willkommen.<br />
                    Diese Seiten sollen ehrenamtl. Bodendenkmalpflegern helfen, Prozesse zu vereinfachen und/oder zu beschleunigen.<br />
                </p>
            </div>
        </div>
    </div>

{% endblock %}