{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2>Datenschutz</h2>
                <p class="fs-5">
                    Jeder benötigt ein Benutzerkonto. Zum einen um die eigenen Daten zu schützen, zum anderen soll hier auch nicht jeder Zugriff haben.<br />
                    Passwörter sind verschlüsselt in der Datenbank gespeichert. Ich kann die NICHT lesen!<br /><br />
                    Bitte denkt daran, dass die Positionen von Bildern ausgelesen werden! Später eventuell auch der eures aktuellen Standortes, bei Aufnahmen bei Begehungen und dem Upload von Bildern.<br />
                    Daten liegen auf einem Server in FFM und selbstverständlich werden die nicht weiter gegeben.<br /><br />
                    Bei Fragen - jederzeit gern an mich per Mail oder WhatsApp.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
