
// Main Styles
body {
  background-color: lightgray;
  @include font-primary(normal);
}

// Error List Styles
.error-list {
  margin: 0.5rem 0;
  padding-left: 1.5rem;

  li {
    margin-bottom: 0.25rem;
    color: #721c24;
  }
}