{% block header %}
    <!DOCTYPE html>
    <html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ app_title }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    {% endblock %}
</head>
{% endblock %}